.player{
    float: left;
    border-bottom: 1px solid lightgray;
    margin: 5px;
    padding: 5px;
    box-shadow: 5px 5px lightgray;
    border-radius: 10px;
    width: 30%;
    height: 325px;
}
.image{
    height: 150px;
    width: 150px;
    border-radius: 20px;
}

.player-name{
    color: blue;
    font-weight: 400;
}